@model IEnumerable<Final_Project_B.Models.ScoreCN>

@{
    ViewBag.Title = "ScoreHk2";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h2>ScoreHk2</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StudentID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClassID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Toan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Van)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ly)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hoa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Su)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GDCD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TBHK2)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StudentID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClassID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Toan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Van)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ly)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hoa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Su)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GDCD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TBHK2)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit2", new { id = item.StudentID }) |
        </td>
    </tr>
}

</table>
