<!DOCTYPE html>
<html>
<head>
    <title>@Page.Title</title>
    <link href="~/Css/framework.css" rel="stylesheet" />
    <link href="~/Css/style2.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    @RenderSection("head", required: false)

</head>
<body>
    <div class="main">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-image: radial-gradient( circle farthest-corner at 10% 20%, rgba(255,255,255,1) 0%, rgba(242,90,235,1) 79.2% );">
            <a class="navbar-brand" href="#">
                <img src="~/Images/logo.png" style="width:50px; height:50px;" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active" id="homepage">
                        <a class="nav-link" onclick="@("window.location.href='" + Url.Action("Default","Home") + "'")">Trang chủ <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown" id="score">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Điểm
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a onclick="@("window.location.href='" + Url.Action("Score","Home") + "'")" class="dropdown-item">Xem điểm HK1</a>
                            <a onclick="@("window.location.href='" + Url.Action("ScoreHk2","Home") + "'")" class="dropdown-item">Xem điểm HK2</a>
                            <a asp-area="" asp-controller="Home" asp-action="Contact" class="dropdown-item">Thêm điểm</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Hỗ trợ</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Thời khóa biếu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Thông báo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Lịch học</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Khảo sát đánh giá</a>
                    </li>
                    <li class="nav-item dropdown" id="score">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Chương trình đào tạo
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a asp-area="" asp-controller="Home" asp-action="" class="dropdown-item">Lịch thi</a>
                            <a asp-area="" asp-controller="Home" asp-action="" class="dropdown-item">Học phí</a>
                            <a asp-area="" asp-controller="Home" asp-action="" class="dropdown-item">Hoạt động</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Hỗ trợ</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Liên hệ</a>
                    </li>
                </ul>
                <a href="@Url.Action("LogOut","Login")" style="float:right; color:white; font-size:14px;">Logout</a>
            </div>
        </nav>


        <div class="" style="width:1360px;">
            @RenderBody()
            <hr />
            <footer style="float:right;">
                <p>&copy; @DateTime.Now. - Trường trung học phổ thông Marie Curie</p>
            </footer>
        </div>
    </div>
</body>
</html>
